.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}
.subgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
   
}
.card{
    
    width: 400px;
    padding: 10px;
    background-color: #66b2b2;

}
.card-img-top{
    width: 340px;
    height: 200px;
}