
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div *ngIf="!updateflag && !save" class="grid-container" >
    <div class="product">
        <div  class="subgrid">
                   <!-- code here to display the details of all the products as cards--> 
                   <div *ngFor="let a of allProduct" class="card" >
                     
                      <img class="card-img-top" src="../../assets/images/image1.jpg" alt="..." />
                       <h5>{{a.Name}}</h5>
                        <li>Description:{{a.Description}}</li><br/>
                        <li>Price:{{a.Price}}</li><br/>
                        <button (click)="Updatedata(a.id)" class="btn btn-primary">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button (click)="DeleteProduct(a.id)" class="btn btn-danger">Remove</button>
                     
                    
                   </div>
                   
      </div>
        
      </div>
        </div>
        <div *ngIf="updateflag && !save" class="grid-container">
          <div class="product">
            <div  class="subgrid">
                       <!-- code here to display the details of all the products as cards--> 
                       <div class="card" >
                         
                          <img class="card-img-top" src="../../assets/images/image1.jpg" alt="..." />
                          
                           <h5>{{newprod.Name}}</h5>
                           <label>Description</label>
                           <textarea id="w3review" name="Description" rows="4" cols="50" #description>
                            {{newprod.Description}}
                            </textarea><br/><br/>
                            <label>Price</label><br/>
                           <input type="text" value="{{newprod.Price}}" pattern="[0-9]*" #price><br/><br/>
                           <button (click)="Save(description.value,price.value)" class="btn btn-primary">SAVE</button>
                            
                         
                        
                       </div>
                       
          </div>
            
          </div>
            </div>
            
<div *ngIf="sucessMessage && save">
 <i  class="fa-duotone fa-check"> {{sucessMessage}}</i>
</div>         
        
                   